body {
    background-image: url(/images/bg-pattern-top-mobile.svg);
    background-image: url(/images/bg-pattern-bottom-mobile.svg);
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: sans-serif;
}

/* inicio da modificação do container, no casa a div principal onde estara todo o conteudo desse "site" */

.container {
    position: relative;
    top: 55px;
    width: 340px;
    height: 250vh;
    margin: auto;

    /* background-color: rgb(248, 245, 242); */
}

/* iniciao da modificação dos 2 primeiros textos */

.title {
    position: relative;
    width: 300px;
    height: 100px;
    margin: auto;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    line-height: 30px;
    color: rgb(88, 17, 105);
}

.text {
    position: relative;
    top: 15px;
    width: 300px;
    height: 40px;
    margin: auto;
    line-height: 26px;
    text-align: center;
    font-weight: 600;
    color: rgba(87, 17, 105, 0.5);
}

/* modificação das estrelas */

.stars {

}

.star {
    position: relative;
    top: 100px;
    width: 300px;
    height: 65px;
    margin: auto;
    background-color: rgba(235, 235, 235, 0.727);
    margin-top: 15px;
    padding-top: 10px;


    display: block;
    text-align: center;
    color: rgb(39, 15, 61);
    font-weight: 600;
}

.star p{
    position: relative;
    top: -5px;
}


/* inicio da estilização da caixa de comentario */

.box {
    position: relative;
    top: 140px;
}

.caixa {
    box-sizing: border-box;
    position: relative;

    width: 300px;
    height: 220px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(85, 8, 100);
}

.perfil {
    /* background-color: antiquewhite; */
    position: relative;
    width: 160px;
    height: 45px;
    text-align: right;
    padding-right: 5px;
    
}

.text01 {
    position: relative;
    top: -50px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.822);
}

.text02 {
    position: relative;
    top: -55px;
    left: -5px;
    font-size: 15.2px;
    color: rgba(192, 85, 148, 0.884);
}

.colton {
    position: relative;
    top: 3px;
    display: block;
    width: 40px;
    border-radius: 50%;
}

.irene {
    position: relative;
    top: 3px;
    display: block;
    width: 40px;
    border-radius: 50%;
}

.anne {
    position: relative;
    top: 3px;
    display: block;
    width: 40px;
    border-radius: 50%;
}

.text03 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.623);
    font-weight: 540;

    width: 250px;
}

  .attribution {
    position: relative;
    top: 100px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


@media (min-width: 1024px) {
    /* início das modificações do container principal  */
    .container {
        /* background-color: gainsboro; */
        width: 1000px;
        height: 500px;
    }

    /*  início das modificações da div que leva os titulos*/

    .textTop {
        position: relative;
        /* background-color: gold; */
        width: 400px;
        top: 0;
        left: 25px;
    }

    .title {
        text-align: left;
        margin-left: 0px;
    }

    .text {
        text-align: left;
        width: 420px;
        font-size: 15px;
        margin-left: 0px;
        top: 5px;
    }

    /* inicil da modificação da div que leva as estrelas */

    .stars {
        position: relative;
        top: -250px;
        right: -270px;   
    }

    .star {
        width: 400px;
        height: 30px;
        border-radius: 5px;
    }

    .A {
        margin-left: 230px;
    }

    .B {
        margin-left: 260px;
    }

    .star p{
        position: relative;
        top: 0.1px;
        display: inline;
        margin-left: 10px;
    }

    /* inícil das modificações da div que tem os comentarios e os perfis */

    .box {
        top: -90px;
        margin-left: 15px;
        
    }

    .caixa {
        display: inline-block;
        margin: 10px;
        
    }

    .X {
        top: 0px;
    }

    .Y {
        top: 15px;
    }

    .Z {
        top: 30px;
    }
}